.product {
    width: 300px;
    height: 510px;
    border: 1px solid #95A0A7;
    border-radius: 7px;
    position: relative;
}

.product img {
    width: 286px;
    height: 286px;
    align-items: center;
    border-radius: 8px;
    margin: 7px;
}

.product-name {
    width: auto;
    text-align: center;
    margin-top: 0;
    /* margin-bottom: 0; */
}

.people-style {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.people-style img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.rating-style {
    text-align: center;
}

.icons-style {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.icon-style {
    width: 90px;
    padding-top: 3px;
    display: flex;
    color: goldenrod;
}