.total-style {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    margin: 40px;
}

.color1 {
    font-size: 60px;
}

.btn-style {
    background-color: rgb(248, 123, 148);
    width: 100px;
    height: 45px;
    border-radius: 5px;
    color: white;
    border: 0;
}

.btn-style:hover {
    color: black;
    border: 2px solid black;
}

.img-with img {
    width: 600px;
}

.customer-title {
    text-align: center;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin: 70px;
    padding: 20px;
}

.btn-styles {
    background-color: rgb(248, 123, 148);
    border: 0;
    width: 120px;
    height: 30px;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
}

.btn-styles:hover {
    color: black;
    border: 2px solid black;
}

.btn-center {
    justify-content: center;
    align-items: center;
    padding-left: 600px;
}