.total-style {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    margin: 40px;
}

.color1 {
    font-size: 60px;
}

.btn-style {
    background-color: rgb(252, 220, 249);
    width: 100px;
    height: 45px;
    /* border-radius: 25px; */
    color: rgb(250, 65, 231);
    border: 0;
}

.btn-style:hover {
    color: rgb(35, 60, 82);
}

.img-with img {
    width: 600px;
}

.customer-title {
    text-align: center;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin: 70px;
    padding: 20px;
}